<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<form [formGroup]='toDoForm' (ngSubmit)='onSubmit(toDoForm.value)' novalidate>
  <div>
    <label>Item</label>
    <input type='text' formControlName='name'/>
    <label>Description</label>
    <input type='text' formControlName='description'/>
    <button type='submit'>Add</button>
  </div>
</form>
<ul>
  <li *ngFor='let item of items' [value]='item'>
    name: {{item.name}}
    description: {{item.description}}
  </li>
</ul>
