<nav class='container'>
  <ul class='nav nav-tabs'>
    <li class='nav-item'>
      <a class='nav-link' [ngClass]="{active: show_todo}" (click)="displayItems('todo')">To Do</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' [ngClass]="{active: !show_todo}"(click)="displayItems('completed')">Completed</a>
    </li>
  </ul>
</nav>
<!-- <form [formGroup]='toDoForm' (ngSubmit)='onSubmit(toDoForm.value)' novalidate> -->
<!--   <div> -->
<!--     <label>Item</label> -->
<!--     <input type='text' formControlName='name'/> -->
<!--     <label>Description</label> -->
<!--     <input type='text' formControlName='description'/> -->
<!--     <button type='submit'>Add</button> -->
<!--   </div> -->
<!-- </form> -->
<div class='container'>
  <div class='list-group'>
    <div class='list-group-item list-group-item-action' *ngFor='let item of items'>
      <a [routerLink]="['todo', item.id]">
          name: {{item.name}}
          description: {{item.description}}
      </a>
    </div>
  </div>
</div>
