<div class='container'>
  <nav>
    <ul class='nav nav-tabs'>
      <li class='nav-item'>
        <a class='nav-link' [ngClass]="{active: show_todo}" (click)="displayItems('todo')">To Do</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' [ngClass]="{active: !show_todo}"(click)="displayItems('completed')">Completed</a>
      </li>
    </ul>
  </nav>

  <div class='list-group'>
    <div class='list-group-item list-group-item-action' *ngFor='let item of items'>
      <a [routerLink]="['todo', item.id]">
          name: {{item.name}}
          description: {{item.description}}
      </a>
    </div>
  </div>
</div>
